.tv-chart {
    width: 100%;
    height: 100%;
    border: 1px solid var(--border);
    border-radius: 6px;
    overflow: hidden;
    background: var(--bg-base);

    iframe {
        border-radius: 6px;
    }
}
